<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chinese Character Quiz</title>
    <link rel="stylesheet" href="/stylesheets/master.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <div id="header">
      Chinese Character Quiz
    </div>
    <!-- TODO: Make for loop which creates randomly generated quiz questions -->
      <div id="quiz-question">
        <p>Which pinyin corresponds to {{answer}}?</p>
        <!-- TODO: Make for loop that generates response choices for the
                   quiz question. -->
        <form>
          <ul>
            {% for answer_choice in answer_options %}
              <li><input type="radio" name="answer" value="{{answer_choice}}"> {{answer_choice}}</li>
            {% endfor %}
          </ul>
          <input
            type="button"
            value="Check Answer"
                        onclick="var answer_choice=document.querySelector('input[name=answer]:checked').value;console.log(answer_choice)
var answer='{{correct_ans}}';
if(answer==answer_choice){alert('Correct!');document.location.reload()}else{alert('Incorrect!')}">
        </form>
      </div>
      <br>
      <img src="https://media3.giphy.com/media/NvAW0FKVvsmA0/source.gif" alt="" width="400px">
  </body>
</html>
