<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to our website!</h1>
    <h2>Here, you can learn Hiragana and Mandarin</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Hiragana</h2>
              <p>Here, you can take a quiz to learn hiragana</p>
              <p><a href="../templates/main.html"><button class="button">Begin</button></a></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Mandarin</h2>
              <p>Here, you can learn the breakdown of mandarin sentences</p>
              <p><a href =""><button class="button">Begin</button></a></p>
            </div>
          </div>
        </div>
      </div>
    

  </body>
</html>
