<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hiragana Quiz</title>
    <link rel="stylesheet" href="/stylesheets/master.css">
  </head>
  <body>
    <div id="header">
      Hiragana Quiz
    </div>
    <!-- TODO: Make for loop which creates randomly generated quiz questions -->
      <div id="quiz-question">
        <p>Which hiragana character corresponds to {{answer}}?</p>
        <!-- TODO: Make for loop that generates response choices for the
                   quiz question. -->
        <form>
          <ol type="A">
            {% for answer_choice in answer_options %}
              <li><input type="radio" name="answer" value="{{answer_choice}}"> {{answer_choice}}</li>
            {% endfor %}
          </ol>
          <input
            type="button"
            value="Check Answer"
            onclick="var answer_choice=document.querySelector('input[name=answer]:checked').value;console.log(answer_choice)
var answer='';if('{{answer}}'=='\u3042'){answer='a'}else if('{{answer}}'=='\u3048'){answer='e'}else if('{{answer}}'=='\u3044'){answer='i'}else if('{{answer}}'=='\u3046'){answer='u'}else{answer='e'}
if(answer==answer_choice){alert('Correct!')}else{alert('Incorrect!')}">
        </form>
      </div>
  </body>
</html>
